button {
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid;
    font-size: 30px;
    float: center;
    padding: 20px;
    width: 30%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}